//  Image carousel
.carousel {
  position: relative;
  overflow: hidden;
  margin: 1rem auto;
  border-radius: 0.25rem;
  width: 600px;
  height: 300px;

  &_inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    &_item {
      min-width: 100%;
      &_image {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &_control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($color: #1b6077, $alpha: 0.3);
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1;
    &:hover {
      background-color: rgba($color: #1b6077, $alpha: 0.8);
    }
  }
  &_control.prev {
    left: 0;
  }
  &_control.next {
    right: 0;
  }
}
