.footer {
  background-color: rgb(113, 106, 106);
  padding: 1rem;
  box-shadow: 4px 4px 8px rgba($color: rgb(194, 169, 169), $alpha: 1);
  color: rgb(51, 51, 129);
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
